* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-image: url('../img/wallpaper.gif');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    font-family: Montserrat, sans-serif;
    color: #EBE80E;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
p {
    font-size: 1rem;
}
form {
    background-color: #750707;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #C70C0C;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: #381803;
    color: #AA0FF7;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #45a049;
}
.container {
    padding: 16px;
}
#telalogin {
    margin-top: 15%;
}